.logo {
    color: red;
}

.search-bar {
    border-radius: 5px;
    border: 2px solid red;
    autofocus: autofocus;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 300;
    padding: 10px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    border-radius: 5px;
    background-color: #c2b7ff;
    margin: auto;
}

.submit {
    float: right;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.footerList {
    list-style-type: none;
    margin-top: 50px;
    display: inline;
    font-family: monospace;

}

.footerList>li {
    float: left;
    margin: 5px;
}

.recent-school {
    border-radius: 5px;
    border: 1px dashed red;
    width: 20px;
    height: 20px;
    margin-top: 5px;

}

.recent-school>img {
    height: auto;
    width: 100%;
    object-fit: contain;
    margin: 0;
    padding: 0;
}

.class-data{
    border: 1px solid darkblue;
}

.class-data th{
    border: 1px solid darkblue;
}

.hamburger-menu img{
    float: left;
    width: 3em;
    height: 3em;
}

.class-search-bar {
    float: top;
    padding: 2px;
}

.table-and-search {
    float: right;
    border: 1px solid darkblue;
    border-radius: 2px;
}
/*.hamburger-menu{*/
/*    float: left;*/
/*}*/